[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "==1.0.0"
requests = "==2.31.0"
setuptools = "*"

[dev-packages]

[requires]
python_version = "3.8"
